.mealDetailsWrapper{
    padding: 30px;
    margin: 70px 0;
}

.mealDetailsContainer {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}
.mealDetailsContainer > * {
    display: inline-block;
    vertical-align: middle;
}
.imageContainer {
    width: 330px; 
    height: 300px;
}
.imageContainer > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.mealDetails {
    margin-left: 30px;
    padding: 30px;
}
.mealDetails > p {
    margin: 10px 0;
}


.price_addToCart {
    margin-top: 30px;
    width: 70%;
}


.moreContent {
    /* background: var(--container);
    transition: var(--color-mode-transition); */
    padding: 20px;
    border-radius: 5px;
    height: 500px;
}
.ownReviewContainer,
.currentUserReview {
    width: 70%;
    margin: 30px auto 0;
}
.reviewForm {
    width: 70%;
    margin: 20px auto;
}
.reviewForm > button {
    margin-top: 20px;
}

.otherReviews {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-gap: 20px;
}
.reviewCard {
    padding: 10px 20px;
}
.rating {
    width: 30px;
    height: 30px;
    font-size: .9em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--brand-color);
    color: #fff;
    margin-left: auto;
}
.reviewContent {
    line-height: 25px;
}
.user {
    margin-top: 20px;
}

.relatedMealsWrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-gap: 20px;
}

.tabContainer {
    height: 40px;
}
.tab {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.tab > .active {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--brand-color);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}