.mealLink {
    cursor: pointer;
    color: initial;
    text-decoration: none;
}
.mealContainer {
    background: var(--container);
    color: var(--text-color);
    transition: var(--color-mode-transition);
    width: 250px;
    padding: 15px;
    border-radius: 5px;
}
.mealImageContainer {
    border-bottom: 1px solid #ccc;
}
.mealImageContainer > img {
    width: 250px;
    height: 250px;
}
.name_rating {
    padding-top: 20px;
}
.mealCountContainer {
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid var(--brand-color);
}
.mealCountContainer > button {
    background: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    outline: none;
}
.mealCountContainer > span {
    display: inline-block;
    margin: auto 7px;
    color: var(--brand-color);
    font-weight: 700;
}

.details {
    line-height: 25px;
    margin-top: 20px;
    text-align: left;
}
