.mealLink {
    cursor: pointer;
    color: initial;
    text-decoration: none;
}
.mealContainer {
    background: var(--container);
    color: var(--text-color);
    transition: var(--color-mode-transition);
    width: 250px;
    padding: 15px;
    border-radius: 5px;
}
.mealImageContainer {
    border-bottom: 1px solid #ccc;
}
.mealImageContainer > img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: center;
}
.name_rating {
    padding-top: 20px;
}
.restaurantName {
    display: inline;
}
.details {
    line-height: 25px;
    margin-top: 20px;
    text-align: left;
}