/*  A flex container */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    transition: var(--color-mode-transition);
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    padding: 10px;
    z-index: 99;
}

.menuBtn_logo > * { 
    display: inline-block;
    vertical-align: middle;
}
.menuBtn_logo > button {
    margin-left: 10px;
}
.logo {
    text-align: center;
    margin-left: 30px;
}
.logo > span {
    margin-left: -5px;
}

.headerComponents {
    width: 550px;
}
.headerComponents > * {
    display: inline-block;
    vertical-align: middle;
}

.searchContainer {
    background: var(--container);
    color: var(--text-color);
    transition: all .5s ease-in-out, color 1s ease-in-out;
    border-bottom: 2px solid var(--border);
    padding: 10px;
    border-radius: 5px;
    width: 70%;
}
.searchContainer > * {
    display: inline-block;
    vertical-align: middle;
}
.searchContainer > img {
    width: 20px;
    height: 20px;
}
.searchForm {
    width: 83%;
}
.searchForm > input {
    border-width: 0;
    height: 24px;
    font-size: 1em;
    background: transparent;
    color: var(--text-color);
    margin: auto 10px;
    width: 100%;
    outline: none;
}
.userData {
    padding-right: 40px;
}
.userData > * {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.userData > img {
    margin-right: 10px;
}
.userData > h5  {
    margin-right: 40px;
}

.cartListContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    box-shadow: -10px 0px 140px 0px rgba(0,0,0,0.8);
    min-height: 100vh;
    max-height: 100vh;
}